@import url("/css/awesome.css");
@import url("/css/price.css");
@import url("/css/customers.css");
@import url("/css/axure.css");
@import url("/css/first-screen.css");
@import url(/css/contact-us.css);
@import url(/css/tabs.css);
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1170px;
  /* CONTAINER ДЛЯ РЕЗИНОВОЙ ВЕРСТКИ width: 1170px */
  /* width: 1170px; */
  margin: auto;
  padding: 0 15px;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
  position: relative;
  z-index: 1;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
}
section {
  width: 100%;
}
.title {
  font-family: "Montserrat", sans-serif;
}
.line {
  width: 64px;
  height: 2px;
  background-color: orange;
}
/* BODY ДЛЯ РЕЗИНОВОЙ ВЕСТКИ min-width: 1170px */
/* body {
  min-width: 1170px;
} */

@media (max-width: 1200px) {
  html {
    font-size: 17px;
  }
  .container {
    max-width: 970px;
  }
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .text-tabs-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .description {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-basis: 100%;
  }
  .all-tabs-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    flex-basis: 100%;
  }
  .item-tab {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .tabs-img-item {
    display: block;
    text-align: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 1rem;
  }
  .tabs_button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
  }
  .title_tabs {
    margin-bottom: 1rem;
  }
}

@media (max-width: 992px) {
  section {
    padding: 80px 0;
  }
  html {
    font-size: 15px;
  }
  .container {
    max-width: 750px;
    padding: 0 0;
  }
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .text-tabs-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .description {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-basis: 100%;
  }
  .all-tabs-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    flex-basis: 100%;
  }
  .item-tab {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 7rem;
    height: 6.875rem;
  }
  .tabs-img-item {
    display: block;
    text-align: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 1rem;
  }
  .tabs_button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .title_tabs {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 90%;
  }
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .text-tabs-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .description {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-basis: 100%;
  }
  .all-tabs-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0;

    flex-basis: 100%;
  }
  .item-tab {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 5.875rem;
  }
  .tabs-img-item {
    display: block;
    text-align: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 1rem;
  }
  .tabs_button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
  }
  .title_tabs {
    margin-bottom: 1rem;
  }
}
