.section_tabs {
  background-color: #fff;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
}

.container_tabs {
}
.tabs-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* <!-- TABS ITEM --> */
.tabs-item {
  display: flex;
  border: 1px solid red;
  margin: 0 1rem;
  width: 10%;
}
/* <!-- TEXT TABS ITEM --> */
.text-tabs-item {
  display: block;
  margin: 0 1rem;
  flex-basis: 54%;

  text-align: left;
  padding-top: 1.625rem;
  /* border: 1px solid green; */
}
.title_tabs {
  font-size: 1.25rem;
  margin-bottom: 3.625rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.text-tabs_description {
  text-align: left;
  margin-bottom: 5.5625rem;
  font-size: 0.875em;
  line-height: 1.1875rem;
  color: #86878b;
}
/* <!-- TEXT TABS IMG --> */
.tabs-img-item {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  /* border: 1px solid black; */
  flex-basis: 28%;
  outline: none;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-basis: 23%;
}
.tabs-img {
  max-width: 20rem;
  max-width: 15.8125rem;
}
.tabs_btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 7%;
  background-color: rgb(230, 39, 39);
  color: #ffffff;
  display: inline-block;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1em;
}
.tabs_btn:hover {
  font-size: 2em;
  box-shadow: 2px 2px 2px 2px rgb(230, 39, 39);
}
